/*#view-orders-btn {
  width: 25%;
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
}*/

#add-product-btn {
  width: 30%;
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
}

#edit-product-close-button {
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
}

#edit-product-submit-button {
  background-color: #BD9479;
  color: #F8F7F4;
  border: transparent;
}

#add-product-close-button {
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
}

#add-product-submit-button {
  background-color: #BD9479;
  color: #F8F7F4;
  border: transparent;
}

#update-btn {
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#archive-btn {
  background-color: #F8F7F4;
  color: #5B4F47;
  border-color: black;
  border: solid;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#unarchive-btn {
  background-color: #BD9479;
  color: #F8F7F4;
  border: transparent;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#admin-view {
  image-rendering: optimizeSpeed;
  width: 170px;
}

#all-orders-title {
  color: #5B4F47;
}

#admin-title {
  color: #5B4F47;
}

#return-admin-btn{
  background-color: #5B4F47;
  color: #F8F7F4;
  border: transparent;
  margin-bottom: 10px;
  margin-left: 75%;
}