#navbar {
/*  opacity: 0.9;*/
  background-color: #FAF0DC;
  position: sticky;
}

#navbar-brand {
  color:  #A67A5B;
  font-size: 1.5rem;
  font-stretch: expanded;
}

#navbar-brand::after {
  content:  ' | Eyeglasses';
  /*color: #AECEF5;*/
  font-size: 1rem;
  /*font-stretch: expanded;*/
}


#nav-links {
  color: #5B4F47;
}

#nav-links:hover {
  filter: brightness(0.6);
  transition-duration: .5s;
}