#all-products {
	/*margin-top: 5px;*/
}

#product-text-card {
	margin-top: 50px;
}

#product-button1 {
	background-color: #5B4F47;
  	color: #F8F7F4;
  	border: transparent;
	margin-right: 20px;
}

#product-button2 {
	background-color: #BD9479;
  	color: #F8F7F4;
  	border: transparent;
}